# .env_example

# 각자 발급받은 키 입력
UPSTAGE_API_KEY=your_upstage_api_key_here
LANGSMITH_API_KEY=your_langsmith_api_key_here

# NCBI 가입 이메일 주소
NCBI_EMAIL=your_ncbi_sign_in_email_here

# 아래는 수정 X

LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGCHAIN_ENDPOINT=https://api.smith.langchain.com

LANGSMITH_TRACING=true
LANGCHAIN_TRACING_V2=true

LANGSMITH_PROJECT=Target Validation Assistant System
LANGCHAIN_PROJECT=Target Validation Assistant System